ADMIN_IDS=AdminOne,AdminTwo
JWT_SECRET=REPLACE_WITH_A_RANDOM_SECRET_OF_AT_LEAST_32_BYTES
SECRET_SALT=SHTechCraft Secret Service 357c0ddc72885367e8fd38db56bc25538d4d1056fcbbb45a65c8fe6647ee1e46
COOKIE_SECURE=true
